html, body {
  height: 100%;
  background: #fefdff;
}

body {
  text-align: center;
  margin: auto;
}

.month {
  min-width: 750px;
  max-width: 860px;
  margin: 20px auto;
}

.weekOfMonth {
  padding: 10px 20px;
  justify-content: space-between;
  display: flex;
  height: 110px;
}

.dayOfMonth {
  width: 100px;
  border-radius: 100px;
  color: white;
  padding: 5px;
}

.week {
  min-width: 750px;
  max-width: 860px;
  margin: 20px auto;
}

.weekByDays {
  padding: 10px 20px;
  justify-content: space-between;
  display: flex;
  height: 310px;
}

.dayOfWeek {
  width: 100px;
  border-radius: 100px;
  color: white;
  padding: 5px;
}

.weekByHours {
  padding: 10px 20px;
  justify-content: space-between;
  display: flex;
  height: 110px;
}

.hourOfDay {
  width: 100px;
  border-radius: 100px;
  color: white;
  padding: 5px;
}
