html, body {
  height: 100%;
}

body {
  text-align: center;
  margin: auto;
}

.month {
  max-width: 860px;
  margin: 20px auto;
}

.week {
  display: flex;
  height: 110px;
}

.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  color: white;
  padding: 5px;
  background-color: transparentize(white, 0.30);
  box-shadow: 
    -1px -1px white, 
    inset -1px -1px 0 0 white;
}
